.footer {
  background: #1a1a1a;
}

.footer_top {
  padding: 55px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_green {
  width: 150px;
  height: 50px;
  background: #01d866;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 17px;
}

.footer_bottom {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(255 255 255 / 20%);
}

.footer p {
  color: #fff;
  font-size: 17px;
  margin-bottom: 0;
}

.ftr-login {
  margin-top: 32px;
}

.ftr-login .title {
  font-size: 15px;
  margin-bottom: 10px;
}

.ftr-login img {
  padding-left: 7px;
}

.brand-logo img {
  width: 236px;
  height: 60px;
}

.landing_banner {
  background-image: url("./Images/landingbackground.png");
  background-size: cover;
  background-position: bottom;
  height: 1160px;
}

.Header_nav {
  padding: 66px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_login {
  background: #fff;
  color: #01d866;
  margin-left: 15px;
  width: 130px !important;
  height: 44px !important;
  font-size: 15px;
  border: 1px solid #01d866;
  border-radius: 8px;
}

.btn_signup {
  background: #01d866;
  color: #fff;
  margin-left: 15px;
  width: 130px !important;
  height: 44px !important;
  font-size: 15px;
  border: 1px solid #01d866;
  border-radius: 8px;
}

.header-right a img {
  margin-right: 10px;
}

.landing_banner h1 {
  font-size: 90px;
  color: #1a1a1a;
  font-weight: bolder;
  line-height: 130px;
  margin-bottom: 32px;
}

.landing_banner h1 span {
  color: #01d866;
}

.landing_banner p {
  font-size: 25px;
  color: #1a1a1a;
  line-height: 42px;
}

.top-content {
  padding: 150px 0;
}

.right-img {
  position: relative;
}

.right-img img {
  position: absolute;
  top: -57px;
  right: -150px;
}
.btn_getstrated {
  width: 200px;
  height: 50px;
  background: #01d866;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  color: #fff;
  margin-top: 24px;
}

.btn_getstrated img {
  width: 23px;
  height: 18px;
  margin-left: 10px;
  margin-top: -4px;
}

.tech_section .technologies {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  justify-content: space-between;
}

.tech_box {
  width: 590px;
  height: 520px;
  box-shadow: 0px 3px 20px #0000001a;
  border: 1px solid #01d866;
  border-radius: 25px;
  padding: 50px 40px;
  background: #fff;
}

.tech_box h3 {
  font-size: 35px;
  color: #1a1a1a;
  margin-top: 15px;
  margin-bottom: 50px;
  font-weight: bolder;
}

.tech_box p {
  font-size: 20px;
  color: #000;
}

.tech_box img {
  margin-top: 30px;
}

.tech_section {
  background-image: url("./Images/tech_background.svg");
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center;
}

.main_sect {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.right_img {
  width: 800px;
  height: 100%;
  margin-left: auto;
}

.content-left {
  width: calc(100vw - 800px);
  text-align: center;
  /* position: relative; */
}

.right_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.form_sect {
  box-shadow: 0px 3px 20px #0000001a;
  border: 1px solid #01d866;
  border-radius: 25px;
  padding: 45px 35px;
  margin: 50px auto;
}

.login-form {
  width: 500px;
}

.signup-form {
  width: 900px;
}

.form_sect h2 {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  text-align: left;
}

.form_sect p {
  color: #707070;
  font-size: 15px;
  margin-bottom: 40px;
  text-align: left;
}

.input-field {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}

.input-field .form-control {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  height: 60px;
}

.input-field .form-label {
  position: absolute;
  font-size: 12px;
  color: #ababab;
  background: #fff;
  padding: 6px;
  margin-bottom: 0;
  top: -15px;
  left: 22px;
}

.input-field .form-control:focus {
  border-color: #01d866;
  outline: 0;
  box-shadow: none;
}
.input-field textarea.form-control {
  height: auto;
}

.categ-form .input-field {
  position: relative;
  margin-top: 14px;
  margin-bottom: 14px;
}
.forgot-pass {
  color: #000;
  font-size: 15px;
  margin: 10px;
  font-weight: 500;
  text-decoration: none;
}
.form-btn {
  width: 100%;
  height: 54px;
  border-radius: 8px;
  background: #01d866;
  color: #fff;
  font-size: 15px;
  border: none;
  margin: 20px auto;
}

.para-btm {
  text-align: center !important;
  color: #000 !important;
  margin-bottom: 0 !important;
  margin-top: 30px;
}
.para-btm a {
  color: #01d866;
  font-weight: 700;
}

.img-pot {
  position: absolute;
  bottom: 0px;
  right: 840px;
  width: 161px;
  height: 200px;
  z-index: -1;
}

.img-msg {
  position: absolute;
  top: 35%;
  left: 30px;
  width: 59px;
  height: 58px;
  z-index: -1;
}

.signup-form.form_sect .input-field {
  margin-top: 9px;
  margin-bottom: 9px;
}

.signup-btn {
  border: 1px solid #000000;
  color: #000;
  width: 100%;
  height: 54px;
  border-radius: 8px;
  font-size: 15px;
  margin: 20px auto;
  background: #fff;
}

.signup-btn img {
  width: 22px;
  height: 22px;
  margin-right: 12px;
  margin-top: -5px;
}

.visible-icon {
  position: absolute;
  top: 22px;
  right: 15px;
  width: 22px;
  height: 15px;
}

.checkbox_div {
  text-align: left;
  font-size: 12px;
}

.checkbox_div input {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.checkbox_div label span {
  color: #01d866;
  font-weight: bold;
}

.nav_sect {
  padding: 35px 0 !important;
}

.navbar-collapse,
.navbar-nav {
  align-items: center;
}

.nav-link {
  padding: 0 13px !important;
}

.profile_menu {
  border-left: 1px solid #d4d4d4;
  margin-left: 16px;
  padding-left: 12px !important;
  padding-right: 0 !important;
  font-size: 17px;
  color: #000;
}

.profile_menu .dropdown-menu {
  box-shadow: 0px 3px 20px #00000029 !important;
  border: none !important;
  border-radius: 20px !important;
  padding: 12px 18px;
  width: auto;
  top: 60px !important;
  left: auto !important;
}
.profile_menu .dropdown-item {
  padding: 12px !important;
}
.profile_menu .dropdown-item:hover {
  background-color: #fff !important;
  color: #01d866;
}
.profile_menu .dropdown-item img {
  height: auto;
  width: 20px;
  margin-right: 18px;
}
.profile-drop-img {
  width: 42px;
  height: 42px;
  border: 1px solid #01d866;
  border-radius: 50px;
  margin-left: 13px;
}
.dropdown-toggle::after {
  display: none !important;
}
.arrow-drop-img {
  width: 10px;
  height: 5px;
  margin-left: 15px;
}
.profile_menu .dropdown-menu::after {
  content: "\A";
  height: 20px;
  width: 20px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  right: 50px;
  top: -11px;
  z-index: -1;
  /* box-shadow: 0px 3px 20px #00000029 !important; */
}

.main-content {
  box-shadow: 0px 3px 20px #0000001a;
  border-radius: 25px;
  background: #fff;
  padding: 41px 45px;
  min-height: 780px;
  margin-bottom: 30px;
}

.main-content h2 {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.main-content p {
  color: #707070;
  font-size: 15px;
}
a {
  text-decoration: none !important;
}
.bookings_tabs {
  background: #f2f2f2;
  border-radius: 10px;
  padding: 5px !important;
  border: none !important;
  width: 800px !important;
  margin-bottom: 30px !important;
}
.bookings_tabs button.nav-link {
  border-radius: 10px;
  color: #000;
  font-size: 18px;
  border: none;
  width: 190px;
  height: 46px;
}
.bookings_tabs button.nav-link.active {
  background: #01d866;
  color: #fff;
}
.booking_field {
  box-shadow: 0px 3px 20px #0000001a;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  height: 126px;
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 23px 37px;
  justify-content: space-between;
}
.booking_field.active,
.booking_field:hover {
  border: 1px solid #01d866;
}
.daydate {
  text-align: center;
  border-right: 1px solid #dedede;
  padding-right: 36px;
  padding-left: 12px;
  flex-basis: 8%;
}
.daydate p {
  color: #565758;
  font-size: 18px;
  margin-bottom: 0;
}
.daydate h3 {
  font-size: 44px;
  color: #565758;
  margin-bottom: 0;
}
.booking_field.active .daydate p,
.booking_field.active .daydate h3,
.booking_field:hover .daydate p,
.booking_field:hover .daydate h3 {
  color: #01d866;
}
.time {
  font-size: 16px;
  color: #000;
  flex-basis: 22%;
  text-align: center;
}
.time img {
  margin-right: 13px;
  margin-top: -4px;
}
.experience {
  flex-basis: 15%;
  text-align: center;
}
.experience p,
.profile-detail p {
  font-size: 12px;
  color: #7a7a7a;
  margin-bottom: 0;
}
.experience h4,
.profile-detail h4 {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
.action {
  flex-basis: 30%;
  text-align: end;
}
.btn_bg {
  background: #01d866;
  color: #fff;
  margin-left: 10px;
  width: 122px !important;
  height: 44px !important;
  font-size: 18px;
  border: 1px solid #01d866;
  border-radius: 8px;
}
.btn_border {
  background: #fff;
  color: #01d866;
  margin-left: 10px;
  width: 122px !important;
  height: 44px !important;
  font-size: 18px;
  border: 1px solid #01d866;
  border-radius: 8px;
}
.profile-detail {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  justify-content: center;
}
.profile-detail img {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  margin-right: 15px;
}
.btn_cancelled {
  color: #ff0000;
  font-size: 15px;
  width: 115px;
  height: 30px;
  border: 1px solid #ff0000;
  border-radius: 15px;
  background: #fff;
}
.cancel_modal {
  display: flex !important;
  align-items: center;
}
.cancel_modal .modal-dialog {
  width: 400px;
  /* height: 470px; */
  text-align: center;
}
.cancel_modal .modal-content .modal-body {
  padding: 30px 55px;
}
.cancel_modal .modal-title {
  font-size: 25px;
  color: #000;
  margin-bottom: 24px;
}
.cancel_modal .modal-content {
  border-radius: 20px;
}
.cancel_modal .modal-content p {
  font-size: 13px;
  color: #000;
  line-height: 22px;
}
.cancel_modal .modal-content img {
  margin-bottom: 30px;
}
.cancel_modal .modal-header {
  position: relative;
  border-bottom: none;
  padding: 0;
}
.cancel_modal .btn-close {
  position: absolute;
  font-size: 16px;
  right: 17px;
  top: 16px;
  z-index: 9999;
}
.btn-close:focus {
  box-shadow: none !important;
}
.no-btn {
  width: 100px;
  height: 40px;
  border: 1px solid #01d866 !important;
  border-radius: 8px !important;
  color: #01d866 !important;
  font-size: 16px !important;
  background: transparent !important;
  margin: 12px;
  margin-bottom: 0 !important;
}
.yes-btn {
  width: 100px;
  height: 40px;
  border: 1px solid #01d866 !important;
  border-radius: 8px !important;
  color: #fff !important;
  font-size: 16px !important;
  background: #01d866 !important;
  margin: 12px;
  margin-bottom: 0 !important;
}
.provider-info {
  box-shadow: 0px 0px 10px #0000001a;
  border-radius: 20px;
  padding: 35px 45px;
  margin-top: 24px;
}
.provider-info h6 {
  font-size: 16px;
  margin-bottom: 0;
}
.provider-info .profile-detail {
  justify-content: left;
  margin-top: 20px;
}
.info-header {
  border-bottom: 1px solid #dedede;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.info-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.info-detail {
  width: 370px;
  background: #f5f5f5;
  border-radius: 15px;
  padding: 30px 25px;
}
.datetime-info {
  display: flex;
}
.datetime-info img {
  padding: 10px;
  background: #fff;
  border-radius: 50px;
  color: #01d866;
  margin-right: 15px;
}
.datetime-info h5 {
  font-size: 13px;
  color: #000;
  font-weight: 700;
}
.datetime-info p {
  font-size: 13px;
  color: #616161;
  margin-bottom: 5px;
}
.info-hr {
  height: 1px;
  background: #e1e1e1;
}
.payment-info {
  width: 370px;
}
.payment-info h5 {
  font-size: 17px;
  margin-bottom: 15px;
}
.pay-rate {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.pay-total {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}
.content-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_confirmed {
  border: 1px solid #01d866;
  border-radius: 19px;
  width: 103px;
  height: 30px;
  color: #01d866;
  font-size: 15px;
  background: #fff;
}
.btn_rejected {
  border: 1px solid red;
  border-radius: 19px;
  width: 103px;
  height: 30px;
  color: red;
  font-size: 15px;
  background: #fff;
}
.job-categ {
  min-height: 698px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.job-categ h3 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categ-detail {
  width: 250px;
  height: 300px;
  border: 1px solid #d5d5d5;
  border-radius: 20px;
  margin: 50px 25px;
  text-align: center;
  padding: 20px;
}
.categ-detail:hover,
.categ-detail.active {
  border: 2px solid #01d866;
}
.categories p {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.categ-img {
  height: 205px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_continue {
  width: 370px;
  height: 54px;
  background-color: #01d866 !important;
  border-radius: 8px !important;
  color: #fff !important;
  font-size: 15px !important;
  border: none !important;
  margin-top: 20px;
}
.search-box {
  position: relative;
  margin: 35px 0;
  width: 700px;
}
.search-box input {
  width: 700px;
  height: 54px;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  padding: 10px 20px;
}
.search-box input:focus-visible {
  outline: 1px solid #01d866;
}

.search-i {
  position: absolute;
  right: 20px;
  top: 16px;
}

.categ_tabs {
  background: #f2f2f2;
  border-radius: 10px;
  padding: 5px !important;
  border: none !important;
  width: 700px !important;
  margin-bottom: 22px !important;
}
.categ_tabs button.nav-link {
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  border: none;
  width: auto;
  height: 40px;
}
.categ_tabs button.nav-link.active {
  background: #01d866;
  color: #fff;
  /* text-transform: uppercase; */
}
.categ-technology {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-bottom: 45px;
}
.techno {
  width: 115px;
  height: 46px;
  border: 1px solid #d5d5d5;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
  margin-bottom: 15px;
}
.techno.active {
  border: 2px solid #01d866;
  color: #01d866;
}
.duration-field {
  margin-bottom: 30px;
}
.duration-field h3 {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
}
.dur_time {
  display: flex;
  flex-wrap: wrap;
}
.subtime {
  width: 75px;
  height: 46px;
  border: 1px solid #d5d5d5;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}
.subtime.active {
  border: 2px solid #01d866;
  color: #01d866;
}
.btn_request {
  width: 122px;
  height: 40px;
  background: #01d866;
  border: 1px solid #01d866;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
}
.experts-table th {
  color: #7a7a7a !important;
  font-size: 13px;
  font-weight: 500;
  border: none !important;
}
.experts-table td {
  color: #000 !important;
  font-size: 16px;
  font-weight: bold;
  border: none !important;
}
.experts-table tbody tr {
  vertical-align: middle;
  box-shadow: 0px 3px 20px #0000001a;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
}
.prof-img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.star-img {
  width: 17px;
  height: 16px;
  margin-top: -6px;
  margin-right: 5px;
}
.experts-table table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.experts-table tbody tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.experts-table tbody tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.expertprofile-detail {
  height: 120px;
  background: #f1f1f1;
  border-radius: 15px;
  position: relative;
  text-align: center;
  margin-top: 120px;
  padding-top: 50px;
}
.expert-image {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translate(-50%);
}
.expert-image img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  border: 1px solid #fff;
}
.expertprofile-detail h2 {
  color: #000;
  font-size: 20px;
}
.expertprofile-detail p {
  font-size: 13px;
  color: #717171;
}
.expertise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #f1f1f1;
  width: 650px;
}
.expertise h3 {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
.expertise p {
  font-size: 13px;
  color: #717171;
  margin-bottom: 0;
}
.expert-descrip,
.expert-price {
  padding: 25px 0;
}
.expert-descrip h2,
.expert-expertise h2 {
  font-size: 16px;
  color: #000;
}
.expert-descrip p {
  font-size: 13px;
  color: #4d4d4d;
  line-height: 24px;
  margin-bottom: 0;
}
.expert-tech {
  display: flex;
  flex-wrap: wrap;
}
.payment_field {
  width: 370px;
}
.myprofile_field,
.expertprofile_field {
  width: 650px;
}
.rating_field {
  width: 500px;
}
.tech-sub {
  font-size: 12px;
  color: #000;
  padding: 6px 12px;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin-right: 12px;
  margin-bottom: 12px;
}
.expert-expertise {
  padding-bottom: 25px;
  border-bottom: 1px solid #f1f1f1;
}
.expert-price h4 {
  font-size: 25px;
  color: #000;
  font-weight: bold;
  text-align: center;
}
.expert-price h4 span {
  font-size: 12px;
  font-weight: 400;
}
.user-details {
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
}
.user-details p {
  color: #000;
  font-size: 13px;
  margin-bottom: 0;
}
.user-details img {
  height: 14px;
  width: auto;
  margin-right: 12px;
}
.usersubdetail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-rgt {
  border-right: 1px solid #c8c8c8;
}
.profile-action {
  width: 100%;
  background-color: #ffffff !important;
  box-shadow: 0px 0px 10px #0000001a;
  border-radius: 12px !important;
  height: 54px;
  font-size: 16px !important;
  color: #000000 !important;
  font-weight: 600 !important;
  border-color: #fff !important;
  margin: 10px 0;
  text-align: left !important;
  padding: 10px 23px !important;
  position: relative;
}
.profile-action img {
  position: absolute;
  right: 20px;
  top: 19px;
}
.expert-actions {
  padding: 25px 0;
}
.logout a {
  font-size: 15px;
  color: #000 !important;
  font-weight: 500;
}
.logout img {
  margin-right: 8px;
  margin-top: -2px;
}
.profile-img-edit {
  background-color: transparent !important;
  border: none !important;
  position: absolute;
  top: 68px;
  left: 35%;
  transform: translate(35%);
}
.profile-img-edit img {
  width: 40px;
  height: 40px;
  border: none !important;
}
.profile-detail.payment_detail {
  justify-content: left;
  box-shadow: 0px 0px 10px #0000001a;
  border-radius: 15px;
  padding: 15px 20px;
  margin-top: 10px;
}
.info-payment {
  border-bottom: none;
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.payment-stripe {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 40px 0;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}
.payment-stripe h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  color: #000;
}
.payment_field .input-field {
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn-pay {
  height: 54px;
  width: 100%;
  font-size: 15px !important;
  background-color: #01d866 !important;
  border-radius: 8px !important;
  border: 1px solid #01d866 !important;
  margin-top: 10px;
}
.give_rating {
  margin-top: 30px;
  text-align: center;
}
.give_rating h3 {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}
.rating_field .star-img {
  width: 37px;
  height: 35px;
  margin: 20px 8px;
}
.experience-img {
  width: 54px;
  height: 54px;
  margin: 10px 8px;
  padding: 7px;
  border-radius: 50%;
}
.experience-img.active {
  border: 1px solid #01d866;
}
.payment-divider h2 {
  width: 100%;
  font-size: 13px;
  color: #5d5d5d;
  text-align: center;
  line-height: 0.1em;
  margin: 10px 0 25px;
  font-weight: 400;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, #fff, #e5e5e5, #fff) 1;
}

.payment-divider h2 span {
  background: #fff;
  padding: 0 10px;
}
.notif_msg {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #ebebeb;
  justify-content: space-between;
}
.notification-menu .dropdown-item:last-child .notif_msg {
  border-bottom: none;
}
.notif_msg h3 {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}
.notif_msg p {
  color: #5d5d5d;
  font-size: 12px;
  margin-bottom: 0;
}
.notif_msg h6 {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 400;
}
.notification-menu .dropdown-menu {
  box-shadow: 0px 3px 20px #00000029 !important;
  border: none !important;
  border-radius: 20px !important;
  padding: 12px 18px;
  width: 430px;
  top: 60px !important;
  left: auto !important;
  right: -180px;
}
.notification-menu .dropdown-item:hover {
  background-color: #fff;
}
.notification-menu .dropdown-item:hover .notif_msg h3 {
  color: #01d866;
}
.notification-menu .dropdown-menu::after {
  content: "\A";
  height: 20px;
  width: 20px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  right: 195px;
  top: -11px;
  z-index: -1;
  /* box-shadow: 0px 3px 20px #00000029 !important; */
}
.main-content h5 {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  margin-bottom: 10px;
}
.wallet-table thead th {
  background: #ebebeb;
  font-size: 14px;
}
.wallet-img {
  width: 44px;
  height: 44px;
}
.wallet-table tbody tr {
  vertical-align: middle;
}
.wallet-table td {
  padding: 13px !important;
  font-size: 14px;
  border-bottom: 1px solid #ebebeb;
}
.wallet-table tbody tr:last-child td {
  border-bottom: none !important;
}
.Wname {
  font-size: 15px;
  color: #000;
  font-weight: 700;
}
.wallet-table th:first-child {
  border-top-left-radius: 10px;
}
.wallet-table th:last-child {
  border-top-right-radius: 10px;
}

.status_success {
  color: #01d866;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  border: 1px solid #01d866;
  border-radius: 19px;
  width: 70px;
  height: 25px;
  text-align: center;
}
.status_pending {
  color: #dba100;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  border: 1px solid #dba100;
  border-radius: 19px;
  width: 70px;
  height: 25px;
  text-align: center;
}
.Camount {
  font-size: 16px;
  color: #01d866;
  font-weight: 500;
}
.Damount {
  font-size: 16px;
  color: red;
  font-weight: 500;
}
.wallet_amount {
  background-image: url("./Images/wallet_bg.svg");
  background-position: right;
  background-size: cover;
  width: 100%;
  height: 150px;
  border-radius: 15px;
  padding: 42px 35px;
  margin-bottom: 50px;
  position: relative;
}
.wallet_amount p {
  font-size: 13px;
  color: #fff;
  margin-bottom: 8px;
}
.wallet_amount h3 {
  font-size: 40px;
  color: #fff;
}
.btn_withdraw {
  position: absolute;
  border: none;
  background: #fff;
  color: #01d866;
  font-size: 14px;
  border-radius: 50px;
  right: 150px;
  top: 60px;
  padding: 7px 25px;
}
td a {
  color: #000 !important;
}
.walletamount-box {
  margin: 30px 0;
  color: #000;
}
.header-wa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.btn_addnew {
  border-radius: 8px;
  width: 70px;
  height: 24px;
  color: #fff;
  background: #01d866;
  border: none;
  font-size: 12px;
}
.header-wa h3 {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.radio-button {
  cursor: pointer;
  padding-right: 0px;
}
.radio-button input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.radio-button input {
  font-size: 1rem;
  line-height: 1.5;
  padding: 11px 23px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  outline: 0;
  background-color: transparent;
}

.radio-button__input {
  opacity: 0;
  position: absolute;
}

.radio-button__control {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0px;
  vertical-align: middle;
  background-color: inherit;
  color: #01d866;
  border: 2px solid #666;
  border-radius: 24px;
}

.radio-button__input:checked + .radio-button__control:after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 14px;
  height: 14px;
  background-color: #01d866;
  border-radius: 12px;
}

.radio-button__input:checked + .radio-button__control {
  border-color: #01d866;
}

.radio-button__control {
  transform: scale(0.75);
}

.radio_wallet {
  background: #ffffff;
  box-shadow: 0px 0px 10px #0000001a;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.radio_wallet p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #000;
}
.upi-img {
  margin-right: 15px;
}
.addbankdetails_field {
}

.in_details {
  margin-top: 60px !important;
  margin-bottom: 30px;
}
.in_details .input-field {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}
.addbankdetails_field .btn-pay {
  width: 370px;
  margin: auto;
}
.job-categ.addbank {
  align-items: baseline;
  margin-top: 50px;
}

.main-content.chat-screen {
  padding: 0;
}
#frame {
  width: 100%;
  /* height: 92vh;
  min-height: 300px; */
  height: 780px;
  background: #fff;
}
@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}
#frame #sidepanel {
  float: left;
  min-width: 400px;
  max-width: 400px;
  width: 40%;
  height: 100%;
  background: #fff;
  color: #f5f5f5;
  overflow-y: auto;
  position: relative;
  padding: 40px 52px 40px 35px;
  border-right: 2px solid #efefef;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel {
    width: 58px;
    min-width: 58px;
  }
}
#frame #sidepanel #profile {
  width: 80%;
  margin: 25px auto;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #32465a;
  }
}
#frame #sidepanel #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}
#frame #sidepanel #profile.expanded .wrap p {
  margin-top: 20px;
}
#frame #sidepanel #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#frame #sidepanel #profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap {
    height: 55px;
  }
}
#frame #sidepanel #profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #e74c3c;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}
#frame #sidepanel #profile .wrap img.online {
  border: 2px solid #2ecc71;
}
#frame #sidepanel #profile .wrap img.away {
  border: 2px solid #f1c40f;
}
#frame #sidepanel #profile .wrap img.busy {
  border: 2px solid #e74c3c;
}
#frame #sidepanel #profile .wrap img.offline {
  border: 2px solid #95a5a6;
}
#frame #sidepanel #profile .wrap p {
  float: left;
  margin-left: 15px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap p {
    display: none;
  }
}
#frame #sidepanel #profile .wrap i.expand-button {
  float: right;
  margin-top: 23px;
  font-size: 0.8em;
  cursor: pointer;
  color: #435f7a;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap i.expand-button {
    display: none;
  }
}
#frame #sidepanel #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: #435f7a;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options {
    width: 58px;
    margin-top: 57px;
  }
}
#frame #sidepanel #profile .wrap #status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options.active {
    margin-top: 62px;
  }
}
#frame #sidepanel #profile .wrap #status-options:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #435f7a;
  margin: -8px 0 0 24px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options:before {
    margin-left: 23px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul {
  overflow: hidden;
  border-radius: 6px;
}
#frame #sidepanel #profile .wrap #status-options ul li {
  padding: 15px 0 30px 18px;
  display: block;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li:hover {
  background: #496886;
}
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li
  span.status-circle:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}
@media screen and (max-width: 735px) {
  #frame
    #sidepanel
    #profile
    .wrap
    #status-options
    ul
    li
    span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li p {
  padding-left: 12px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li p {
    display: none;
  }
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-online
  span.status-circle {
  background: #2ecc71;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-online.active
  span.status-circle:before {
  border: 1px solid #2ecc71;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-away
  span.status-circle {
  background: #f1c40f;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-away.active
  span.status-circle:before {
  border: 1px solid #f1c40f;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-busy
  span.status-circle {
  background: #e74c3c;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-busy.active
  span.status-circle:before {
  border: 1px solid #e74c3c;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-offline
  span.status-circle {
  background: #95a5a6;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-offline.active
  span.status-circle:before {
  border: 1px solid #95a5a6;
}
#frame #sidepanel #profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial !important;
}
#frame #sidepanel #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}
#frame #sidepanel #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: #32465a;
  border-radius: 3px;
  color: #f5f5f5;
  padding: 7px;
  width: calc(100% - 43px);
}
#frame #sidepanel #profile .wrap #expanded input:focus {
  outline: none;
  background: #435f7a;
}
#frame #sidepanel #search {
  border-top: 1px solid #32465a;
  border-bottom: 1px solid #32465a;
  font-weight: 300;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #search {
    display: none;
  }
}
#frame #sidepanel #search label {
  position: absolute;
  margin: 10px 0 0 20px;
}
#frame #sidepanel #search input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  padding: 10px 0 10px 46px;
  width: calc(100% - 25px);
  border: none;
  background: #32465a;
  color: #f5f5f5;
}
#frame #sidepanel #search input:focus {
  outline: none;
  background: #435f7a;
}
#frame #sidepanel #search input::-webkit-input-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input::-moz-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input:-ms-input-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input:-moz-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #contacts {
  height: 100%;
}
#frame #sidepanel #contacts ul {
  padding-left: 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts {
    height: calc(100% - 149px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    display: none;
  }
}
#frame #sidepanel #contacts.expanded {
  height: calc(100% - 334px);
}
#frame #sidepanel #contacts::-webkit-scrollbar {
  width: 8px;
  background: #2c3e50;
}
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}
#frame #sidepanel #contacts ul li.contact {
  position: relative;
  padding: 10px 0;
  font-size: 0.9em;
  cursor: pointer;
  list-style-type: none;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 10px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}
#frame #sidepanel #contacts ul li.contact.active {
  background: #d1ffe6;
  padding-left: 10px;
  border-bottom: 1px solid #d1ffe6;
}
#frame #sidepanel #contacts ul li.contact.active span.contact-status {
  border: 2px solid #32465a !important;
}
#frame #sidepanel #contacts ul li.contact .wrap {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #95a5a6;
}
#frame #sidepanel #contacts ul li.contact .wrap span.online {
  background: #2ecc71;
}
#frame #sidepanel #contacts ul li.contact .wrap span.away {
  background: #f1c40f;
}
#frame #sidepanel #contacts ul li.contact .wrap span.busy {
  background: #e74c3c;
}
#frame #sidepanel #contacts ul li.contact .wrap img {
  width: 50px;
  float: left;
  margin-right: 10px;
  border-radius: 12px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0px;
  }
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    display: none;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  margin-bottom: 5px;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  font-size: 12px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: 0.5;
}

#frame .content {
  float: right;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 400px);
  }
}
#frame .content .contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f5f5f5;
}
#frame .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}
#frame .content .contact-profile p {
  float: left;
}
#frame .content .contact-profile .social-media {
  float: right;
}
#frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}
#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}
#frame .content .contact-profile .social-media i:hover {
  color: #435f7a;
}
#frame .content .messages {
  height: auto;
  min-height: calc(100% - 140px);
  max-height: calc(100% - 140px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 50px;
}
@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}
#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, 0);
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 5px 0px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
#frame .content .messages ul li.sent p {
  background: #efefef;
  color: #000000;
  font-size: 13px;
  line-height: 20px;
  border-radius: 15px 15px 15px 0px;
  padding: 17px 20px;
  margin-bottom: 7px;
}
#frame .content .messages ul li.sent h6 {
  color: #bbbbbb;
  font-size: 12px;
  font-weight: 300;
}
#frame .content .messages ul li.replies {
  float: right;
  text-align: end;
}
#frame .content .messages ul li.replies p {
  background: #01d866;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  border-radius: 15px 15px 0px 15px;
  padding: 17px 20px;
  margin-bottom: 7px;
}
#frame .content .messages ul li.replies h6 {
  color: #bbbbbb;
  font-size: 12px;
  font-weight: 300;
}
#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}
#frame .content .message-input .wrap {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  margin: 50px;
  height: 80px;
  background: #efefef;
  border-radius: 15px;
  margin-top: 25px;
}
#frame .content .message-input .wrap input {
  border: none;
  width: calc(100% - 80px);
  padding: 10px;
  font-size: 0.8em;
  color: #32465a;
  background: transparent;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}
#frame .content .message-input .wrap input:focus {
  outline: none;
}
#frame .content .message-input .wrap .attachment {
  margin-right: 18px;
  margin-top: 0px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: 0.5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
.messages ul {
  padding-left: 0;
}
.msg_date {
  color: #bbbbbb;
  font-size: 12px;
  text-align: center;
  margin-bottom: 30px;
}
.expert-expertise.expert-main {
  border-bottom: none;
}

@media screen and (max-width: 1799px) {
  .signup-form {
    width: 650px;
  }
  .right_img {
    width: 680px;
  }
  .content-left {
    width: calc(100vw - 680px);
  }
  .img-pot {
    right: 680px;
  }
}
@media screen and (max-width: 1699px) {
  .right-img img {
    right: -30px;
  }
}

@media screen and (max-width: 1399px) {
  .right_img {
    width: 500px;
  }
  .content-left {
    width: calc(100vw - 500px);
  }
  .signup-form {
    width: 600px;
  }
  .img-pot {
    right: 500px;
  }
  .tech_box {
    width: 500px;
    height: 520px;
  }
  .top-content {
    padding: 100px 0;
  }
  .right-img img {
    top: 87px;
    width: 800px;
  }
  .landing_banner h1 {
    font-size: 79px;
    line-height: 100px;
  }
}
@media screen and (max-width: 1199px) {
  .right_img {
    width: 400px;
  }
  .content-left {
    width: calc(100vw - 400px);
  }
  .signup-form {
    width: 530px;
  }
}

/* setup expert profile  */
.profileSetup {
  margin-bottom: 30px;
}
.profileSetup h2 {
  text-align: center !important;
}
.profileSetup .expert-image {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.profileSetup .profile-img-edit {
  position: absolute;
  left: 54%;
  transform: translate(-54%);
}
.language-field {
  text-align: left;
}
.language-field h6 {
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  text-align: left;
}
.language-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.language-checkbox label {
  color: #000000;
  font-size: 14px;
}
.language-checkbox input {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin-right: 8px;
  position: relative;
  top: 4px;
  height: 18px;
  width: 18px;
}
.input-field.price {
  position: relative;
}
.price-icon {
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  left: 22px;
  top: 19px;
}
.input-field.price input {
  padding-left: 55px;
}
.setuprofile-btn {
  max-width: 400px;
}

/* expert table  */
.experttd-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.experttd table tr {
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
.expertd-action img {
  margin-right: 20px;
}
.experttd table tbody td:first-child {
  margin-left: 10px;
}
.experttd th:first-child {
  border-top-left-radius: 0px;
}
.experttd th:last-child {
  border-top-right-radius: 0px;
}
#frame .content .messages ul li.sent.replies img {
  float: right;
}

/* // contact form css  */
.contact_form {
  display: block !important;
}
.outer_contact_form_div {
  width: 440px;
  border-radius: 20px;
  border: 1px solid #01d866;
}
.contact_form_h2 {
  font-size: 30px !important;
  color: #000;
  font-weight: bold !important;
  padding-left: 2.5rem !important;
  padding-bottom: 0 !important;
  padding-top: 1.5rem !important;
}
.contact_form_button {
  width: 100% !important;
  margin-left: 0;
}

.promocode-nader {
  background: #ffffff;
  box-shadow: 0px 3px 20px #0000001a;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  padding: 12px;
}
.promocode-nader h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
.promocode-nader p {
  font-size: 14px;
  color: #000000;
}

.promo-input {
  position: relative;
}
.promo-input button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px 16px;
  background: #01d866 0% 0% no-repeat padding-box;
  border-radius: 8px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  border: 0;
}

.refer-earn {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #0000001a;
  border-radius: 25px;
  padding: 40px;
}
.refer-banner {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  background-image: url(../src/Images/rrff.png);
  padding: 30px 30px 165px 40px;
  background-size: cover;
}
.refer-banner h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
.refer-banner p {
  color: #ffffff;
  font-size: 15px;
}
.text-refer {
  margin: 50px auto;
  width: 75%;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #000000;
}

.social-link-man {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 00px;
  justify-content: center;
}
.input-copy {
  display: flex;
  justify-content: center;
}
.input-copy p {
  display: flex;
  gap: 90px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 30px 0 60px;
}

.add_expert_form {
  margin-top: 40%;
}
/* phone input css  */
.phone-number-fils {
  position: absolute;
  top: 0;
  right: 0;
  width: 81%;
  height: 100%;
}
.phone-number-fils input {
  border: 0;
  height: 100%;
  padding: 17px 0;
  border-width: 0;
}
.phone-number-fils fieldset {
  border-color: transparent !important;
}
.country-selector {
  left: 0 !important;
}

.slider {
  position: relative;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #01d866;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #000;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  right: 0;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #01d866;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #01d866;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #01d866;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #01d866;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.search-filter h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 22px;
}
.search-filter h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
.filter-mddl .modal-header {
  position: absolute;
  right: 0;
  border: 0;
  z-index: 1;
}
.price-rang-slider {
  position: relative;
  display: block;
  height: 50px;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  padding: 0 0.2em;
  text-align: center;
  margin-bottom: 15px;
  gap: 15px;
  justify-content: flex-end;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
  font-size: 50px;
  line-height: 42px;
}

.star-rating :checked ~ label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #fc0;
}

/* // loader  */
.payment_loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000006c;
}
.payment_loader span {
  display: block;
  color: white;
  margin: auto;
  color: #2e7d32;
}
.payment_loader h5{
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.avatar-img {
  margin: 30px 0 30px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.img-img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 6px;
  border: 1px solid #fff;
  display: inline-block;
}
.img-img.active{
  border: 2.5px solid #01D866;
}
.img-img img{
  width: 100%;
  height: 100%;

}